# CV Skill Plot Generator

In [27]:
import sys

In [28]:
%pip install -r requirements.txt

Requirement already satisfied: PyYaml==6.0 in c:\users\samuel\miniconda3\lib\site-packages (from -r requirements.txt (line 1)) (6.0)
Requirement already satisfied: pydantic==1.10.8 in c:\users\samuel\miniconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.10.8)
Requirement already satisfied: numpy==1.24.3 in c:\users\samuel\miniconda3\lib\site-packages (from -r requirements.txt (line 3)) (1.24.3)
Requirement already satisfied: pandas==2.0.2 in c:\users\samuel\miniconda3\lib\site-packages (from -r requirements.txt (line 4)) (2.0.2)
Requirement already satisfied: matplotlib==3.7.1 in c:\users\samuel\miniconda3\lib\site-packages (from -r requirements.txt (line 5)) (3.7.1)
Requirement already satisfied: yamlmagic==0.2.0 in c:\users\samuel\miniconda3\lib\site-packages (from -r requirements.txt (line 6)) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\samuel\miniconda3\lib\site-packages (from pydantic==1.10.8->-r requirements.txt (line 2)) (4.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\samuel\miniconda3\lib\site-packages (from pandas==2.0.2->-r requirements.txt (line 4)) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\samuel\miniconda3\lib\site-packages (from pandas==2.0.2->-r requirements.txt (line 4)) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\samuel\miniconda3\lib\site-packages (from pandas==2.0.2->-r requirements.txt (line 4)) (2023.3)
Requirement already satisfied: packaging>=20.0 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (9.5.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\samuel\miniconda3\lib\site-packages (from matplotlib==3.7.1->-r requirements.txt (line 5)) (1.0.7)
Requirement already satisfied: six>=1.5 in c:\users\samuel\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.0.2->-r requirements.txt (line 4)) (1.16.0)

In [29]:
import os
from datetime import datetime
from typing import List

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yaml
from pydantic import BaseModel, ValidationError

In [30]:
%load_ext yamlmagic

The yamlmagic extension is already loaded. To reload it, use:
  %reload_ext yamlmagic

## Edit skills

Change list according your skill set

In [31]:
%%yaml skills
skill_groups:
- name: LNG
  skills:
  - name: C#
    value: 50
  - name: Python
    value: 40
  - name: JavaScript
    value: 30
  - name: Objective-C
    value: 20
- name: OS
  skills:
  - name: Linux
    value: 50
  - name: Windows
    value: 30
  - name: MacOS
    value: 80
- name: DB
  skills:
  - name: MongoDB
    value: 40
  - name: PostgreSQL
    value: 30
  - name: Redis
    value: 20
  - name: FireStore
    value: 30
- name: COM
  skills:
  - name: REST
    value: 50
  - name: GraphQL
    value: 20
  - name: TCP/UDP
    value: 50
  - name: SPI
    value: 30
  - name: MQTT
    value: 30
  - name: LoRa
    value: 10
- name: TECH
  skills:
  - name: Mixed Reality
    value: 40
  - name: Web
    value: 50
  - name: Drones
    value: 30
  - name: Messtechnik
    value: 40
- name: DEVOPS
  skills:
  - name: GIT
    value: 50
  - name: Travis CI
    value: 30
  - name: Docker
    value: 40
  - name: SonarQube
    value: 30
  - name: Selenium
    value: 20

In [32]:
skills

{'skill_groups': [{'name': 'LNG',
   'skills': [{'name': 'C#', 'value': 50},
    {'name': 'Python', 'value': 40},
    {'name': 'JavaScript', 'value': 30},
    {'name': 'Objective-C', 'value': 20}]},
  {'name': 'OS',
   'skills': [{'name': 'Linux', 'value': 50},
    {'name': 'Windows', 'value': 30},
    {'name': 'MacOS', 'value': 80}]},
  {'name': 'DB',
   'skills': [{'name': 'MongoDB', 'value': 40},
    {'name': 'PostgreSQL', 'value': 30},
    {'name': 'Redis', 'value': 20},
    {'name': 'FireStore', 'value': 30}]},
  {'name': 'COM',
   'skills': [{'name': 'REST', 'value': 50},
    {'name': 'GraphQL', 'value': 20},
    {'name': 'TCP/UDP', 'value': 50},
    {'name': 'SPI', 'value': 30},
    {'name': 'MQTT', 'value': 30},
    {'name': 'LoRa', 'value': 10}]},
  {'name': 'TECH',
   'skills': [{'name': 'Mixed Reality', 'value': 40},
    {'name': 'Web', 'value': 50},
    {'name': 'Drones', 'value': 30},
    {'name': 'Messtechnik', 'value': 40}]},
  {'name': 'DEVOPS',
   'skills': [{'name': 'GIT', 'value': 50},
    {'name': 'Travis CI', 'value': 30},
    {'name': 'Docker', 'value': 40},
    {'name': 'SonarQube', 'value': 30},
    {'name': 'Selenium', 'value': 20}]}]}

## Load Skills

### Define Skill File Model

In [33]:
class Skill(BaseModel):
    name: str
    value: int

class SkillGroup(BaseModel):
    name: str
    skills: List[Skill]

class CVSkills(BaseModel):
    skill_groups: List[SkillGroup]

### Load Skill File

In [34]:
try:
    cv_skills = CVSkills(**skills)
    print(cv_skills)
except ValidationError as e:
    print(f"Failed to parse the skills: {e}")

skill_groups=[SkillGroup(name='LNG', skills=[Skill(name='C#', value=50), Skill(name='Python', value=40), Skill(name='JavaScript', value=30), Skill(name='Objective-C', value=20)]), SkillGroup(name='OS', skills=[Skill(name='Linux', value=50), Skill(name='Windows', value=30), Skill(name='MacOS', value=80)]), SkillGroup(name='DB', skills=[Skill(name='MongoDB', value=40), Skill(name='PostgreSQL', value=30), Skill(name='Redis', value=20), Skill(name='FireStore', value=30)]), SkillGroup(name='COM', skills=[Skill(name='REST', value=50), Skill(name='GraphQL', value=20), Skill(name='TCP/UDP', value=50), Skill(name='SPI', value=30), Skill(name='MQTT', value=30), Skill(name='LoRa', value=10)]), SkillGroup(name='TECH', skills=[Skill(name='Mixed Reality', value=40), Skill(name='Web', value=50), Skill(name='Drones', value=30), Skill(name='Messtechnik', value=40)]), SkillGroup(name='DEVOPS', skills=[Skill(name='GIT', value=50), Skill(name='Travis CI', value=30), Skill(name='Docker', value=40), Skill(name='SonarQube', value=30), Skill(name='Selenium', value=20)])]

### Map to DataFrame

In [35]:
# Create empty lists to store the extracted values
names = []
values = []
groups = []

# Iterate over the skill groups and skills, and extract the required values
for skill_group in cv_skills.skill_groups:
    for skill in skill_group.skills:
        names.append(skill.name)
        values.append(skill.value)
        groups.append(skill_group.name)

# Create a dictionary with the extracted values
data = {
    "name": names,
    "value": values,
    "group": groups
}

# Create a pandas DataFrame using the dictionary
df = pd.DataFrame(data)
df

             name  value   group
0              C#     50     LNG
1          Python     40     LNG
2      JavaScript     30     LNG
3     Objective-C     20     LNG
4           Linux     50      OS
5         Windows     30      OS
6           MacOS     80      OS
7         MongoDB     40      DB
8      PostgreSQL     30      DB
9           Redis     20      DB
10      FireStore     30      DB
11           REST     50     COM
12        GraphQL     20     COM
13        TCP/UDP     50     COM
14            SPI     30     COM
15           MQTT     30     COM
16           LoRa     10     COM
17  Mixed Reality     40    TECH
18            Web     50    TECH
19         Drones     30    TECH
20    Messtechnik     40    TECH
21            GIT     50  DEVOPS
22      Travis CI     30  DEVOPS
23         Docker     40  DEVOPS
24      SonarQube     30  DEVOPS
25       Selenium     20  DEVOPS

### Sort Values

In [36]:
df = df.groupby(["group"]).apply(lambda x: x.sort_values(["value"], ascending = False)).reset_index(drop=True)
df

             name  value   group
0            REST     50     COM
1         TCP/UDP     50     COM
2             SPI     30     COM
3            MQTT     30     COM
4         GraphQL     20     COM
5            LoRa     10     COM
6         MongoDB     40      DB
7      PostgreSQL     30      DB
8       FireStore     30      DB
9           Redis     20      DB
10            GIT     50  DEVOPS
11         Docker     40  DEVOPS
12      Travis CI     30  DEVOPS
13      SonarQube     30  DEVOPS
14       Selenium     20  DEVOPS
15             C#     50     LNG
16         Python     40     LNG
17     JavaScript     30     LNG
18    Objective-C     20     LNG
19          MacOS     80      OS
20          Linux     50      OS
21        Windows     30      OS
22            Web     50    TECH
23  Mixed Reality     40    TECH
24    Messtechnik     40    TECH
25         Drones     30    TECH

## Draw Plot

### Function Definitions

We are defining three functions here:

- `get_label_rotation` is used to determine the rotation and alignment of the label based on a given angle.
- `add_labels` is used to add labels to the bars in our bar chart.
- `create_out_file_path` is used to create a unique file path for our output based on the current date and time.

In [37]:
import numpy as np
import os
from datetime import datetime

def get_label_rotation(angle, offset):
    # Rotation must be specified in degrees :(
    rotation = np.rad2deg(angle + offset)
    if angle <= np.pi:
        alignment = "right"
        rotation = rotation + 180
    else: 
        alignment = "left"
    return rotation, alignment

def add_labels(angles, values, labels, offset, ax):
    # This is the space between the end of the bar and the label
    padding = 4
    
    # Iterate over angles, values, and labels, to add all of them.
    for angle, value, label, in zip(angles, values, labels):
        angle = angle
        
        # Obtain text rotation and alignment
        rotation, alignment = get_label_rotation(angle, offset)

        # And finally add the text
        ax.text(
            x=angle, 
            y=value + padding, 
            s=label, 
            ha=alignment, 
            va="center", 
            rotation=rotation, 
            rotation_mode="anchor"
        ) 

def create_out_file_path():
    directory = "./out"

    if not os.path.exists(directory):
        os.makedirs(directory)

    # get the current date and time
    now = datetime.now()

    # format the datetime object to a string
    timestamp_str = now.strftime("%Y%m%d_%H%M%S")  # This will give you a string like '20230607_183000'


    # create the filename using the original file name and the timestamp string
    file_name = "skills" + "_" + timestamp_str + ".png"  # This will give you a string like 'originalfile_20230607_183000.txt'

    # combine the directory path with the filename
    full_file_path = os.path.abspath(file_name)

    return full_file_path

SyntaxError: invalid syntax (1961287539.py, line 38)

### Creating The Polar Plot

We are creating a polar bar plot. To do this, we:
- Initialize a polar plot.
- Set the theta offset, plot limits, and remove grid lines.
- Plot our bars with appropriate widths and colors.
- Add our labels.
- Add reference lines and group annotations.
- Save the figure.

In [ ]:
# Determines where to place the first bar. 
# By default, matplotlib starts at 0 (the first bar is horizontal)
# but here we say we want to start at pi/2 (90 deg)
OFFSET = np.pi / 2
VALUES = df["value"].values
MAX_VALUE = VALUES.max()
LABELS = df["name"].values
GROUP = df["group"].values
PAD = 3
ANGLES_N = len(VALUES) + PAD * len(np.unique(GROUP))
ANGLES = np.linspace(0, 2 * np.pi, num=ANGLES_N, endpoint=False)
WIDTH = (2 * np.pi) / len(ANGLES)
IDXS = []

GROUPS = df.groupby(['group']).size().reset_index(name='size')

GROUPS_SIZE = GROUPS['size'].tolist()
COLORS = [f"C{i}" for i, size in enumerate(GROUPS_SIZE) for _ in range(size)]

offset = 0 


for size in GROUPS_SIZE:
    IDXS += list(range(offset + PAD, offset + size + PAD))
    offset += size + PAD

fig, ax = plt.subplots(figsize=(20, 10), subplot_kw={"projection": "polar"})
ax.set_theta_offset(OFFSET)
ax.set_ylim(-MAX_VALUE, MAX_VALUE)
ax.set_frame_on(False)
ax.xaxis.grid(False)
ax.yaxis.grid(False)
ax.set_xticks([])
ax.set_yticks([])


ax.bar(
    ANGLES[IDXS], VALUES, width=WIDTH, color=COLORS, 
    edgecolor="white", linewidth=2
)

add_labels(ANGLES[IDXS], VALUES, LABELS, OFFSET, ax)

# Extra customization below here --------------------

# This iterates over the sizes of the groups adding reference
# lines and annotations.

offset = 0 
for group, size in zip(GROUPS['group'].tolist(), GROUPS_SIZE):
    # Add line below bars
    x1 = np.linspace(ANGLES[offset + PAD], ANGLES[offset + size + PAD - 1], num=MAX_VALUE)
    ax.plot(x1, [-5] * MAX_VALUE, color="#333333")
    
    # Add text to indicate group
    ax.text(
        np.mean(x1), -20, group, color="#333333", fontsize=14, 
        fontweight="bold", ha="center", va="center"
    )
    
    # Add reference lines at 20, 40, 60, and 80
    x2 = np.linspace(ANGLES[offset], ANGLES[offset + PAD - 1], num=MAX_VALUE)
    ax.plot(x2, [10] * MAX_VALUE, color="#bebebe", lw=0.8)
    ax.plot(x2, [20] * MAX_VALUE, color="#bebebe", lw=0.8)
    ax.plot(x2, [30] * MAX_VALUE, color="#bebebe", lw=0.8)
    ax.plot(x2, [40] * MAX_VALUE, color="#bebebe", lw=0.8)
    
    offset += size + PAD
    

out_file_path = create_out_file_path()
plt.savefig(out_file_path, transparent=True, bbox_inches='tight')

print(f"Plot saved to: {out_file_path}")